img{width:100%;border:1px solid #e1e1e1;}
.col-md-4{padding-bottom:70px;}
h2{padding-bottom:0px;margin-bottom:0px;}
.tooltip1 {
  position: relative;
  
}

.tooltip1 .tooltiptext1 {
  visibility: hidden;
  width: 90%;
  bottom: 100%;
  left: 50%;
  margin-left: -50%;
  margin-bottom: -50px;
  background-color: white;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0 5px 5px;
  font-style: italic;
  border: 1px solid black;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip1:hover .tooltiptext1{
  visibility: visible;
}

.filter-button {
    background: url(/images/filter.png) no-repeat left center; 
    border: 1px solid grey; 
    background-color: Transparent;
    border-radius: 5px;
    padding: 5px 5px 5px 16px;
}
.filter-button:hover{
    box-shadow: 0px 0px 2px #000;
}
.filter-button:active{
    box-shadow: 0px 0px 1px #000;
}

.clear-filter-button {
    background: url(/images/clear-filter.png) no-repeat left center; 
    border: 1px solid grey; 
    background-color: Transparent;
    border-radius: 5px;
    padding: 5px 5px 5px 16px;
}
.clear-filter-button:hover{
    box-shadow: 0px 0px 2px #000;
}
.clear-filter-button:active{
    box-shadow: 0px 0px 1px #000;
}